body{
    background-repeat: no-repeat;
}
.div1{
    height: 400px;
    width: 400px;
    background-repeat: no-repeat;
    background-size: contain;
}
.p1{
    height: 200px;
    width: 200px;
    background-repeat: no-repeat;
    background-size: cover;
}